* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  clear: both;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
}

label {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* hamburger manu class */
.hambur-menu-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 150px;
  height: 400px;
}
.hamburger-menu-button-img {
  width: 100%;
  height: 30%;
}
.img-setting-box {
  display: inline-block;
  width: 50px;
  height: 30px;
}
.hamburger-menu-avatar-box {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px solid #000;
}
.user-prifile-name-box {
  color: rgba(0,255,0,.8);
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  padding-left: 25px;
  font-family: 'Black Ops One';
  font-size: 20px;
  font-style: italic;
  position: absolute;
  top: 24px;
  right: 17px;

}
.img-setting-box  img {
  margin: 15px;
  width: 30px;
  height: 30px;
}
.hamburger-menu-list {
  display: none;
  position: absolute;
  margin-top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  max-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hamburger-menu-list a {
 display: block;
 font-family: sans-serif;
 text-decoration: none;
 background: #EEE;
 double-shadow: #EEE;
 border-bottom: 1px solid #777a7c ;
 hover-style: #EEE;overflow: hidden;
 text-shadow: 0 -1px 0 rgba(255,255,255,0.3);
 padding: 10px 10px;
}

.hamburger-menu-list a:hover {background-color: #abacad }

.hamburger-menu-list a:visited {color:#000;}

.show {display:block;}

header {
  border: rgba(55, 70, 110, .7);
  height: 120px;
  position: fixed;
  top: 0;
  background-color: rgba(135, 155, 165, .2);
  font-family: 'Black Ops One', cursive;
  font-size: 100px;
  font-style: italic;
  color: rgba(0,255,0,.8);
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
}

footer {
  border: rgba(55, 70, 110, .7);
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: rgba(135, 155, 165, .3);
  font-family: 'Black Ops One', cursive;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
}
#icons{
  padding: 2px;
  float: right;
  width: 160px;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  bottom: 8px;
  right: 16px;
}

footer div img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.made-by{
  font-family: "Iceberg", cursive;
  display: inline-block;
  margin-top: 40px;
  color: rgba(200, 200, 200, 0.7)
}

#content {
  height: 100%;
  padding-top: 120px;
  padding-bottom: 60px;
  /*margin: 0 auto;*/
  background-image: url("img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* This css style is for the sign in box */
.sign-in-box {
  display: block;
  border: 1px solid #000;
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  width: 600px;
  height: 230px;
  margin-left: calc(50% - 300px);
  position: fixed;
  top: 40%;
}

.sign-in-box label {
  font-family: 'Black Ops One';
  font-size: 30px;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
}

#error-msg {
    font-family: 'Black Ops One';
    color: #A91818;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
#error-msg-input input[type="text"] {
  border: 1px solid #A91818;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
}
#error-msg-input input[type=text]:focus {
  outline:none;
    border: 1px solid #9EF3AB;
    box-shadow: 0px 0px 13px #9EF3AB;
    -moz-box-shadow: 0px 0px 13px #9EF3AB;
    -webkit-box-shadow: 0px 0px 13px #9EF3AB;
}
.sign-in-box form {
  width: 75%;
  height: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.sign-in-box input[type="text"] {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  font-family: "Iceberg",cursive;
}

.sign-in-box input[type="text"]:focus {
  outline:none;
    border: 1px solid #9EF3AB;
    box-shadow: 0px 0px 13px #9EF3AB;
    -moz-box-shadow: 0px 0px 13px #9EF3AB;
    -webkit-box-shadow: 0px 0px 13px #9EF3AB;
}

.sign-in-box button {
  margin-top: 20px;
  margin-left: 20%;
}

.register-container {
  display: block;
  color: rgba(0,255,0,.5);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgba(45, 95, 110, .8);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  width: 70%;
  height: 85%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 50px;
  padding-bottom: 50px;
  position: relative;
}

.register-container input[type="text"] {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  width: 120px;
}

.register-container label {
  display: inline-block;
  font-family: 'Iceberg', cursive;
  font-size: 16px;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: right;
  width: 70%;
  float: left;
}

.registrationFormDivs {
  display: inline-block;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.3);
  width: 200px;
  float: left;
}

.registrationFormDivs * {
  font-family: "Black Ops One", cursive;
  font-style: italic;
}

.registrationFormDivs input {
  width: auto;
  display: inline;
}

.registrationFormDivs h1 {
  font-family: 'Black Ops One', cursive;
  font-size: 16px;
}

.registrationFormDivs label {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

#usernameDiv {
  border: none;
  background: none;
  transform: translate(50px, 50px);
}

#usernameDiv label {
  font-family: 'Iceberg', cursive;
  text-align: left;
}

#usernameDiv > label {
  font-size: 24px;
}

#avatarDiv {
  padding-top: 50px;
  padding-left: 50px;
  border: none;
  background: none;
}

#avatarDiv label {
  font-family: 'Iceberg', cursive;
  text-align: left;
  transform: translateX(30%);
}

#avatarDiv > label {
  font-size: 24px;
}

#gamerTagDiv {
  border: none;
  background: none;
  transform: translate(-50px, 50px);
}

#gamerTagDiv label {
  width: 150px;
  font-family: 'Iceberg', cursive;
  text-align: left;
}

#gamerTagDiv > label {
  font-size: 24px;
}

#platformDiv {
  position: relative;
  transform: translate(0, 126px);
  text-align: left;
}

#platformDiv h1 {
  margin: 10px 0;
}

#platformDiv label {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  text-align: left;
}

#platformDiv label input {
  position: absolute;
  right: 10px;
}

#skillLevelDiv {
  position: relative;
  margin-top: 20px;
}

#skillLevelDiv h1 {
  margin: 10px 0;
}

#skillLevelDiv label {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  text-align: left;
}

#skillLevelDiv label input {
  position: absolute;
  right: 10px;
}

#gamesDiv {
  position: relative;
  transform: translate(-50px, -90px);
}

#gamesDiv h1 {
  margin: 10px 0;
}

#gamesDiv label {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  text-align: left;
}

#gamesDiv label input {
  position: absolute;
  right: 10px;
}

#daysYouCanGameDiv {
  position: relative;
  transform: translate(-108px, 128px);
}

#daysYouCanGameDiv h1 {
  margin: 10px 0;
}

#daysYouCanGameDiv label {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  text-align: left;
}

#daysYouCanGameDiv label input {
  position: absolute;
  right: 10px;
}

.register-container button {
  clear: both;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 125px);
}

/* This css style is for the sign in and register buttons on the landing page */
.registerSignInButtons {
  display: block;
  border: 1px solid #000;
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  width: 100%;
  height: 200px;
  position: fixed;
  top: 40%;

}
.buttons {
  border-radius: 10px;
  width: 250px;
  height: 60px;
  border: 1px solid black;
  box-shadow: 20px 20px 50px black;
  font-family: 'Black Ops One';
  font-size: 30px;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
  outline: none;
}

.buttons:active {
  text-shadow: 5px 5px 20px rgba(235, 100, 0, 1);
  transform: scale(.95);
  transform: translateY(2px);
}

#registerButton, #signInButton {
  margin: 70px 20px 0 25px;
}

#results {
  display: block;
  position: fixed;
  top: 160px;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.player {
  width: 600px;
  height: 230px;
  margin: 25px;
  margin-bottom: 25px;
  display: inline-block;
  border: 1px solid #000;
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  font-family: 'Offside', cursive;
  text-shadow: 1px 1px 3px rgba(00, 255, 0, .5);
}

.avatarUserWrap {
  display: inline-block;
  float: left;
  width: 120px;
  height: 120px;
  border-width: 0px;
  position: relative;
  /*overflow: hidden;*/
}

.avatarPic {
  width: 160px;
  height: 160px;
  border: 1px solid black;
  position: absolute;
  top: -40px;
  left: -40px;
  /*transform: translate(-40px,-40px);*/
  background-color: lime;
}

.userOnlineWrap {
  width: 100%;
  height: 20%;
  margin-top: 125px;
  transform: translateX(-60px);
}

.username{
  font-size: 24px;
  text-align: left;
  transform: translateX(80px);
}

.skillLevel {
  padding-top: 5px;
  text-align: left;
  transform: translateX(80px);
}

.userOnline {
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  transform: translateX(60px);
}

#online-icon{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  transform: translateX(-25px;)
}

.gamerGamesWrap {
  display: inline-block;
  float: left;
  width: 450px;
  height: 200px;
  border-width: 0px;
  position: relative;
}

.gamerTags {
  width: 200px;
  height: 130px;
  display: inline-block;
  margin: 0 auto;
  margin-left: 5px;
  padding: 5px;
  list-style: none;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 0%;
  border: 1px solid rgba(0,0,0,.3);
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
}

.gamesPlayed {
  width: 200px;
  height: 130px;
  display: inline-block;
  margin: 0 auto;
  margin-left: 5px;
  padding: 5px;
  list-style: none;
  text-align: left;
  position: absolute;
  top: 20%;
  border: 1px solid rgba(0,0,0,.3);
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
}

.comments {
  display: none;
  width: 100%;
  height: 15%;
  float: left;
}

.player .buttons {
  font-size: 16px;
  width: 125px;
  height: 30px;
  transform: translate(55px, -20px);
}

.dayYouCanGame{

  position: absolute;
  width: 480px;
  text-align: left;
  top: -25px;
  left: 120px;
  background-color: rgba(0, 0, 0, .7);
  color: rgba(0,255,0,.5);
  border-radius: 10px;
}
.dayYouCanGameLi{
  display: inline;
}

::-webkit-input-placeholder {
  font-family: "Iceberg", cursive;
  text-align: center;
}
:-moz-placeholder { /* older Firefox*/
  font-family: "Iceberg", cursive;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "Iceberg", cursive;
  text-align: center;
}
:-ms-input-placeholder {
  font-family: "Iceberg", cursive;
  text-align: center;
}

@media screen and (min-width: 600px){
  .registerSignInButtons{
    width: 600px;
    margin-left: calc(50% - 300px);
  }
}
