* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  clear: both;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
}

/* hamburger manu class */
.hambur-menu-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 150px;
  height: 400px;
}
.hamburger-menu-button-img {
  /*border: 1px solid black;*/
  width: 70px;
  height: 70px;
  margin: 10% auto;
}
.hamburger-menu-button-img img {
  /*border: 1px solid black;*/
  width: 70px;
  height: 70px;
}
.hamburger-menu-list {
  position: absolute;
  border: 1px solid blue;
  background-color: white;
  width: 100%;
  height: 100%;
  right: 0px;
}

header {
  border: rgba(55, 70, 110, .7);
  height: 120px;
  position: fixed;
  top: 0;
  background-color: rgba(135, 155, 165, .2);
  font-family: 'Black Ops One', cursive;
  font-size: 100px;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
}

footer {
  border: rgba(55, 70, 110, .7);
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: rgba(135, 155, 165, .3);
  font-family: 'Black Ops One', cursive;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
}
#icons{
  padding: 2px;
  float: right;
  width: 160px;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  bottom: 8px;
  right: 16px;
}

footer div img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.made-by{
  font-family: "Iceberg", cursive;
  display: inline-block;
  margin-top: 40px;
  color: rgba(200, 200, 200, 0.7)
}

#content {
  height: 100%;
  padding-top: 120px;
  padding-bottom: 60px;
  /*margin: 0 auto;*/
  background-image: url("img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* This css style is for the sign in box */
.sign-in-box {
  display: block;
  border: 1px solid #000;
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  width: 600px;
  height: 230px;
  margin-left: calc(50% - 300px);
  position: fixed;
  top: 40%;
}

.sign-in-box label {
  font-family: 'Black Ops One';
  font-size: 30px;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
}

#error-msg {
    font-family: 'Black Ops One';
    color: #A91818;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
#error-msg-input input[type="text"] {
  border: 1px solid #A91818;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
}
#error-msg-input input[type=text]:focus {
  outline:none;
    border: 1px solid #9EF3AB;
    box-shadow: 0px 0px 13px #9EF3AB;
    -moz-box-shadow: 0px 0px 13px #9EF3AB;
    -webkit-box-shadow: 0px 0px 13px #9EF3AB;
}
.sign-in-box form {
  width: 75%;
  height: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.sign-in-box input[type="text"] {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  font-family: "Iceberg",cursive;
}

.sign-in-box input[type="text"]:focus {
  outline:none;
    border: 1px solid #9EF3AB;
    box-shadow: 0px 0px 13px #9EF3AB;
    -moz-box-shadow: 0px 0px 13px #9EF3AB;
    -webkit-box-shadow: 0px 0px 13px #9EF3AB;
}

.sign-in-box button {
  margin-top: 20px;
  margin-left: 20%;
}

.register-container {
  display: block;
  background-color: rgba(45, 95, 110, .8);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  width: 70%;
  height: 85%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
  overflow: scroll;
  position: relative;
}

.register-container input[type="text"] {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  width: 120px;
}

.register-container label {
  display: inline-block;
  font-family: 'Iceberg', cursive;
  font-size: 16px;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: right;
  width: 70%;
  float: left;
}

.registrationFormDivs {
  display: inline-block;
  width: 200px;
  float: left;
}

.registrationFormDivs * {
  font-family: "Black Ops One", cursive;
  font-style: italic;
}

.registrationFormDivs input {
  width: auto;
  display: inline;
}

.registrationFormDivs h1 {
  font-family: 'Black Ops One', cursive;
  font-size: 16px;
  margin-top: 20px;
}

.registrationFormDivs label {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

#usernameDiv {
  padding-top: 50px;
  padding-left: 50px;
}

#usernameDiv label {
  font-family: 'Iceberg', cursive;
  text-align: left;
}

#gamerTagDiv {
  padding-top: 50px;
  margin-left: 100px;
}

#gamerTagDiv label {
  width: 150px;
  font-family: 'Iceberg', cursive;
  text-align: left;
}

#platformDiv {
  position: relative;
  padding-top: 20px;
}

#platformDiv label {
  width: 100%;
  margin: 0 auto;
}

#platformDiv label input {
  position: absolute;
  right: 10px;
}

#skillLevelDiv {
  position: relative;
}

#skillLevelDiv label {
  width: 100%;
  margin: 0 auto;
}

#skillLevelDiv label input {
  position: absolute;
  right: 10px;
}

#gamesDiv {
  position: relative;
  padding-top: 112.4px;
  margin-left: 50px;
}

#gamesDiv label {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

#gamesDiv label input {
  position: absolute;
  right: 10px;
}

#daysYouCanGameDiv {
  position: relative;
  padding-top: 112.4px;
  margin-left: 50px;
}

#daysYouCanGameDiv label {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

#daysYouCanGameDiv label input {
  position: absolute;
  right: 10px;
}

.register-container button {
  clear: both;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 125px);
}

/* This css style is for the sign in and register buttons on the landing page */
.registerSignInButtons {
  display: block;
  border: 1px solid #000;
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  width: 100%;
  height: 200px;
  position: fixed;
  top: 40%;

}
.buttons {
  border-radius: 10px;
  width: 250px;
  height: 60px;
  border: 1px solid black;
  box-shadow: 20px 20px 50px black;
  font-family: 'Black Ops One';
  font-size: 30px;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(55, 70, 110, 1);
  text-align: center;
  outline: none;
}

.buttons:active {
  text-shadow: 5px 5px 20px rgba(235, 100, 0, 1);
  transform: scale(.95);
  transform: translateY(2px);
}

#registerButton, #signInButton {
  margin: 70px 20px 0 25px;
}

#results {
  display: block;
  position: fixed;
  top: 160px;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.player {
  width: 600px;
  height: 200px;
  margin: 25px;
  margin-bottom: 25px;
  display: inline-block;
  border: 1px solid #000;
  background-color: rgba(45, 95, 110, .7);
  border-radius: 10px;
  box-shadow: 20px 20px 50px black;
  font-family: 'Offside', cursive;
}

.avatarUserWrap {
  display: inline-block;
  float: left;
  width: 35%;
  height: 80%;
  border-width: 0px;
  position: relative;
  /*overflow: hidden;*/
}

.avatarPic {
  width: 160px;
  height: 160px;
  border: 1px solid black;
  position: absolute;
  top: -40px;
  left: -40px;
  background-color: orange;
}

.userOnlineWrap {
  width: 100%;
  height: 20%;
  margin-top: 125px;
}

.gamerGamesWrap {
  display: inline-block;
  float: left;
  width: 60%;
  height: 70%;
  border-width: 0px;
}

.gamerTags {
  width: auto;
  display: inline-block;
  margin: 0 auto;
  list-style: none;
}

.gamesPlayed {
  width: auto;
  display: inline-block;
  margin: 0 auto;
  list-style: none;
}

.comments {
  display: none;
  width: 100%;
  height: 15%;
  float: left;
}
.player .buttons {
  font-size: 16px;
  width: 125px;
  height: 30px;
}
.dayYouCanGame{
  
}
.dayYouCanGameLi{
  display:inline;
}
.username{
  font-size: 24px;
}
#online-icon{
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
#online-text{
  font-size: 12px;
  display: inline;
}







::-webkit-input-placeholder {
  font-family: "Iceberg", cursive;
  text-align: center;
}
:-moz-placeholder { /* older Firefox*/
  font-family: "Iceberg", cursive;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "Iceberg", cursive;
  text-align: center;
}
:-ms-input-placeholder {
  font-family: "Iceberg", cursive;
  text-align: center;
}

@media screen and (min-width: 600px){
  .registerSignInButtons{
    width: 600px;
    margin-left: calc(50% - 300px);
  }
}
